@page
@model Disable2faModel
@{
    ViewData["Title"] = "Inaktivera tvåfaktorsautentisering (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Den här åtgärden inaktiverar endast 2FA.</strong>
    </p>
    <p>
        Inaktivering av 2FA återställer inte nycklar som används i autentiseringsappar. Om du vill ändra nyckel
        i autentiseringsappen bör du <a asp-page="./ResetAuthenticator">återställa dina autentiseringsnycklar.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Inaktivera 2FA</button>
    </form>
</div>
