@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Åtkomst nekad";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har inte åtkomst hit.</p>
</header>
