@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräfta återställning av lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Var vänlig kolla din mail för att återställa lösenord.
</p>
