@page
@model LockoutModel
@{
    ViewData["Title"] = "Utelåst";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Det här kontot har blivit utelåst, var vänlig försök igen senare.</p>
</header>
