@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bekräfta återställning av lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ditt lösenord har blivit återställt. Var vänlig <a asp-page="./Login">tryck här för att logga in</a>.
</p>
