<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Stay.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/spacelab.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid mx-2">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/resources/stay_logo_white_140px.png" style="height:2em;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Sök bostad</a>
                        </li>
                        <partial name="_LoginPartial" />
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Om oss</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-bottom: 50px;">
        @*Avoid body overlapping footer*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-primary">
        <div class="container pt-4 pb-2">
            <div class="row">
                <div class="col-sm">
                    <h2 class="footer_header border-bottom">Kontakt</h2>
                    <ul class="navbar-nav footer_ul mb-5">
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About"><i class="fa-solid fa-phone"></i> Hör av dig till oss!</a>
                        </li>
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About"><i class="fa-solid fa-envelope"></i> Maila oss</a>
                        </li>
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About"><i class="fa-solid fa-briefcase"></i> Jobba hos oss</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h2 class="footer_header border-bottom">Appar</h2>
                    <ul class="navbar-nav footer_ul mb-5">
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" href=""><i class="fa-solid fa-mobile-screen-button"></i> T.B.A.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h2 class="footer_header border-bottom">Sociala Medier</h2>
                    <ul class="navbar-nav footer_ul mb-5">
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" href=""><i class="fa-solid fa-envelope"></i> Nyhetsbrev</a>
                        </li>
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" href=""><i class="fa-brands fa-instagram"></i> Instagram</a>
                        </li>
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" href=""><i class="fa-brands fa-facebook"></i> Facebook</a>
                        </li>
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" href=""><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                        </li>
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" href=""><i class="fa-brands fa-twitter"></i> Twitter</a>
                        </li>
                        <li class="nav-item footer_li">
                            <a class="nav-link text-light" href=""><i class="fa-brands fa-pinterest"></i> Pinterest</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="d-flex justify-content-center text-light">
                &copy; 2022 - Stay - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js~/js/maps.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
